* {
margin: 0 auto;
padding: 0;
}
/* .container {

height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding-top: 3rem;
background-color: #ebe6e6;
} */
.loginform {
	display: flex ;
	justify-content: center;
	flex-direction: column;	
	background-color: #ebe6e6;
	/* height: 500px; */
	/* width: 25%; */
	max-width: 400px;
	padding: 1rem 1rem 1.5rem 1rem;
	border-radius: 1em;
	box-shadow:   3px 3px 5px rgba(54, 53, 53, 0.865),
				  -5px -5px 5px #fff;
				
	}
	.company_logo{
	display: flex;
	justify-content: center;	
		width: 50%;
		height: 1hv;
	}
	.company_logo img{
		width: 90%;
	}
.inputs{
	
	width:90%;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.form_input {
	border: none;
	outline: none;
display: flex;
justify-content: center;
align-items: center;	
	background-color: #f5f5f5;
	box-shadow:   inset 1px 1px 5px rgba(54, 53, 53, 0.865),
	inset -5px -5px 5px #fff;
	padding:.8rem ;
	margin: 20px 5%;
	border-radius: 1rem;	
}
.form_input i{
	color:#7e7e7e ;
}
.form_input.password i {

cursor: pointer;
}
.form_input input{
	font-size: 1.2rem;
	line-height: 2;
	outline: none;
width: 90%;	
	border: none;
	
	background-color: #f5f5f5;
} 
.login_btn {
		outline: none;
		border: none;
		background-color: #194ce5;
		box-shadow:   3px 3px 5px rgba(54, 53, 53, 0.865), 
		-5px -5px 5px #f5f5f5;
		width: 80%;
		padding: 1rem;
		border-radius: 4em;
		color: #fff;
		font-size: 1.2rem;
		font-weight: 800;
		cursor: pointer;	
		transition: .5s;
		}
		.login_btn:active{	
			box-shadow:   3px 3px 2px #ffffff, 
		-2px -2px 2px #01034f;

		}



.links {
text-align: center;
margin: 20px;
}
.links a {
 margin: 5px;
}
button a {
display: inline-block;
width: 100%;
height: 100%;
text-decoration: none;
font-weight: 600;
margin: 10px auto;
}

/* Circle Styles */

.circle {
display: flex;
justify-content: center;
align-items: center;
background-color: #f5f5f5;
height: 500px;
width: 500px;
padding: 20px;
border-radius: 50%;
box-shadow:   13px 13px 5px rgba(229, 224, 224, .8),
              -8px -8px 5px #fff;
	     /* inset 13px 13px 5px rgba(229, 224, 224, .8),
	      inset -8px -8px 5px #fff; */
position: relative;
            
}

.circle:after {
	content: "";
	display: block;
	width:80%;
	height: 80%;
	background: transparent;
	background-position:center;
	background-size: cover;
	position: aboslute;
	border-radius: 50%;
	box-shadow: inset 13px 13px 5px rgba(229, 224, 224, .8),
	      inset -8px -8px 5px #fff;  
	
}
.imgcircle {
	content: "";
	display: block;
	width:65%;
	height: 65%;
	background: transparent;
	
	
	position: absolute;
	right: 17%;
	border-radius: 50%; 
background: url("C:/Users/MACLANS/Pictures/kamo.jpg");
background-position: center;
background-size: cover;   
	
}
.imgcircle:after {
 content: "McLans";
 position: absolute;
top: 60%;
left: 20%;
color: transparent;
font-size: 3rem;
transition: .5s;
}

.imgcircle:hover:after {
 
color: white;
font-size: 4rem;
text-shadow: 2px 3px 5px blue;
right: 50%;
}


.imgcircle {
/*background: url("C:/Users/MACLANS/Pictures/kamo.jpg");
background-position: center;
background-size: cover;
cusor: pointer;*/

}

/* javaScript page */
/* body {
background-color: yellow;
} */
#loginForm {
display: block;
flex: 1;
color: white;
font-size: 1.5rem;
font-weight: 800;
background: green;
}

#loginForm p:after {
content: " ";
display: block;
width: 0%;
height: 3px;
background: linear-gradient(20deg, red, white);
transition: 1s;

}

#loginForm p:hover:after {
width: 100%;
margin-right: auto;

}

/* CALCULATOR Styles */

.board {
display: block;
background-color: #f5f5f5;
height: 500px;
width: 300px;
padding: 30px;
border-radius: 10px;
box-shadow:   13px 13px 5px rgba(229, 224, 224, .8),
              -8px -8px 5px #fff;
border: 1px solid red;
            
}
/*
.calcu {
display: block;
color: white;
font-size: 1.5rem;
font-weight: 800;
background: green;
}
*/
.board h2:after {
content: " ";
display: block;
width: 0%;
height: 3px;
background: linear-gradient(20deg, red, white);
transition: 1s;

}
.calc {
padding: 5%;
}
.calc input {
background: black;
color: white;
}
select {
width: 80%;
margin: 5px 10% 10px 10%;

}
.board h2:hover:after {
width: 100%;
margin-right: auto;

}
#calculator {
flex: 1;
margin: 30px;
border: 1px solid blue;
box-shadow:   5px 5px 8px rgba(229, 224, 224, .8), 
              -5px -5px 5px #fff;
border-radius: 10px;
}

#output {
width: 60%;
height: 90px;
border: 1px solid blue;
margin-top: 10px;
border-top-right-radius: 10px; 
border-bottom-left-radius: 10px;
background: blue;
text-align: center;
color: white;
font-size: 2rem;
padding: 20px 10px;
box-sizing: border-box; 
}
.board button {
margin-top: 5px;
box-shadow:   5px 5px 8px black, 
              -5px -5px 5px #fff;
border-radius: 10px;
cursor: pointer;
}
.board button:hover {
box-shadow:   5px 5px 8px red, 
              -5px -5px 5px red;

}