@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Playfair+Display&display=swap');
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #2E323F;
    --bluish-black: #3B4050;
    --dark-gray: #6F737F;
    --white: #fff;
    --yellowish-gray: #a59678;
    --transition-1: .5s;
    --transition-2: 1s;
    scroll-behavior: smooth;
}

@font-face {
    font-family: roboto-bold;
    src: url("/assets/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: roboto-black;
    src: url("/assets/fonts/Roboto-Black.ttf");
}

li {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
}

body {
    background-color: var(--dark-gray);
    
    }
    
    .container {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
    }
    
    /* ******** Header Style ******** */
    
    .header {
        background: var(--black);
        height: 4rem;
        overflow: hidden;
        padding: .760rem;
        transition: var(--transition-1) ease;
        user-select: none;
        z-index: 1000;
    }
    
    .header.open {
        height: 25rem;
    }
    
    .header__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: .5rem;
    }
    
    .handBurger-menu-icon {
        width: 40px;
        height: 40px;
        background: var(--dark-gray);
        border-radius: 50%;
        position: absolute;
        left: 0;
        cursor: pointer;
        border: 2px double var(--black);
        filter: brightness(1.5);
    }
    
    .menu-icon.spin {
        transform: rotate(90deg);
    }
    
    .menu-icon {
        height: 5px;
        width: 25px;
        background: var(--black);
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 100px;
        transition: var(--transition-2);
    }
    
    .menu-icon::before {
        content: '';
        height: 5px;
        width: 25px;
        bottom: 130%;
        left: 0;
        background: var(--black);
        display: block;
        position: absolute;
        border-radius: 100px;
    }
    
    .menu-icon::after {
        content: '';
        height: 5px;
        width: 25px;
        top: 130%;
        left: 0;
        background: var(--black);
        display: block;
        position: absolute;
        border-radius: 100px;
    }
    
    .title {
        color: var(--white);
    }
    
    .main-nav {
        padding: .8rem;
        text-align: center;
        user-select: none;
        margin-top: 1rem;
    }
    
    .nav-list__item {
        transition: width var(--transition-1);
    }
    
    .nav-list__item+.nav-list__item {
        margin-top: .8rem;
    }
    
    .nav-list__link {
        color: var(--white);
        font-size: 1rem;
        text-transform: uppercase;
        padding: .2em .75em;
        border-radius: 100px;
        transition: var(--transition-2);
        position: relative;
    }
    
    .nav-list__link::after {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        border-radius: 100px;
        transition: .5s ease;
    }
    
    .nav-list__item:hover .nav-list__link::after {
        background: #00000072;
        color: var(--white);
    width: 100%;
}

.secondary-nav {
    margin-top: .8rem;
}

.nav-list__btn {
    background: var(--white);
    color: var(--black);
}

.canvas {

    margin: 1rem 0;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 10px #2E323F;
    flex-direction: column;
}

.yellow-board {
    background-color: rgb(251, 184, 0);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
        border-radius: .5rem;
        box-shadow: 2px 5px 5px #2E323F;
}

.egg {
    position: relative;
    background-color: rgba(255, 255, 255, 0.938);
    opacity: 0.8;
    min-width: 160px;
        min-height: 210px;
    border-radius: 50%;
    transform: rotate(-32deg);
    backdrop-filter: blur(2%);
    /*box-shadow: 0px 150px 8px -2.8em rgba(7, 6, 6, .2), 
    inset 20px -100px 40px rgba(195, 193, 193, 0.3);*/
}

.egg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    border-radius: 50%;
    transform: rotate(0deg);
    box-shadow: -33px 70px 20px 1px rgba(1, 1, 1, 0.6), inset 47px -47px 60px rgb(167, 167, 70);
}
/* ******** Teddy Bear Arts ******** */
/* checked box styles */

.box {
    /* background-image: radial-gradient(circle at 1px 2px, rgb(80, 37, 2) 1px, rgb(255, 255, 255) 10px);
    background-size: 15px 15px;
    width: 520px;
    height: 530px; */
    background-color: #fff;
    border: 1px solid red;
}


/* Teddy bear Art */

.checkered_board {
    background-image: radial-gradient(circle at 1px 2px, rgb(80, 37, 2) 1px, rgb(255, 255, 255) 10px);
    background-size: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}


/* Bear Head */

.teddy-head {
width: 200px;
    height: 200px;
    background: rgb(66, 9, 9);
    border-radius: 50%;
    position: relative;
    box-shadow: 5px 15px 30px 3px #0e0d0d, inset 30px 3px 30px #9e1b1b, inset -20px -3px 30px #9e1b1b;
    z-index: 999;
}


/* teddy eyes */

.teddy-eye-left,
.teddy-eye-right {
    width: 30px;
        height: 40px;
    background: #f7f2f2;
    margin: 10px;
    border-radius: 49%;
}


/*
.teddy-eye-left:hover,
.teddy-eye-right:hover {
    height: 70px;
}
*/

.teddy-eye-left {
    position: absolute;
    top: 50px;
    left: 50px;
}


/* left eyeball */

.teddy-eye-left::after {
    content: '';
    display: block;
    background: #000;
    height: 15px;
        width: 10px;
    position: absolute;
    top: 15px;
        right: 5px;
    border-radius: 50%;
}

.teddy-eye-right {
    position: absolute;
    top: 50px;
    right: 50px;
}


/* right eye ball */

.teddy-eye-right::after {
    content: '';
    display: block;
    background: #000;
    height: 15px;
        width: 10px;
    position: absolute;
    top: 15px;
        right: 10px;
    border-radius: 50%;
}


/*
.teddy-eye-left:hover::after,
.teddy-eye-right:hover::after {
    top: 15px;
    right: 20px;
}
*/

.teddy-nose {
    width: 80px;
        height: 80px;
    border-radius: 50%;
    background: #f7f2f2;
    position: absolute;
    top: 45%;
    left: 31%;
    box-shadow: 3px -2px 20px #010101;
}


/* mouth line */

.teddy-nose::before {
    content: ')';
    display: block;
    height: 35px;
    width: 25px;
    position: absolute;
    top: 35px;
        right: 13px;
    border-radius: 50%;
    transform: rotate(90deg);
    font-size: 4em;
    color: #000;
}


/* black nose tip and white stripe on the nose */

.teddy-nose::after {
    content: ')';
    display: block;
    background: #000;
    height: 35px;
    width: 25px;
    position: absolute;
    color: #fff;
    top: 10px;
    right: 35px;
    border-radius: 50%;
    transform: rotate(90deg);
    text-align: center;
}

.teddy-ear-left,
.teddy-ear-right {
    width: 100px;
        height: 100px;
    z-index: 110;
    background: rgb(26, 25, 25);
    box-shadow: 5px 15px 30px 3px #0e0d0d;
}

.teddy-ear-left {
    position: absolute;
    top: 60px;
        left: 30px;
    border-radius: 45%;
    z-index: 20;
}

.teddy-ear-left::after {
    content: '';
    display: block;
    border-radius: 45%;
    width: 110px;
        height: 110px;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 5px;
        left: 8px;
}

.teddy-ear-right {
    position: absolute;
    top: 60px;
        right: 40px;
    border-radius: 45%;
}

.teddy-ear-right::after {
    content: '';
    display: block;
    border-radius: 45%;
    width: 110px;
        height: 110px;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 5px;
        left: 5px;
}
/* ******** Mickey Arts ******** */



/* .canva {
    background: #f39f33;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
 */
.card {
    background: #fff;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.name h1 {
    font-family: 'La Belle Aurore';
    font-size: 48px;
    font-weight: 800;
    text-shadow: 1px 1px 1px white,
        1px 1px 2px #f39f33;
    margin-top: .5rem;
}

.head-frame {
    position: relative;
    border: 1px solid transparent;
    padding: 2rem;
    border-radius: 5px;
    background: #f39f33;
    box-shadow: 0 3px 5px #000,
        2px 3px 5px #000,
        2px 3px 5px #000,
        2px 3px 5px #000;
}

/*Head */
.head {
    width: 200px;
    height: 200px;
    background: #000;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1.5;

}

.head::after,
.head::before {
    content: "";
    height: 150px;
    width: 90px;
    background: #fff;
    z-index: 3;
    position: absolute;
    border-radius: 50%;
    right: 40px;
    top: 35px;
    rotate: 15deg;

}

.head::before {
    rotate: -15deg;
    left: 40px;
}

.head-chin {
    width: 200px;
    height: 150px;
    background: #000;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 50%;
    translate: -50% 0;
    z-index: 1;

}

.head-chin::after,
.head-chin::before {
    content: " ";
    background-color: white;
    height: 100px;
    width: 40px;
    z-index: 3;
    position: absolute;
    border-top-right-radius: 550px;
    border-top-left-radius: 250px;
    border-bottom-right-radius: 550px;
    rotate: 55deg;
    position: absolute;
    right: 40px;
    bottom: -1%;

}

.head-chin:after {
    transform: scaleX(-1);
    left: 40px;
    rotate: -55deg;
    bottom: -1%;


}

.head-jaw {
    width: 110px;
    height: 105px;
    background: #000;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 1%;
    left: 50%;
    translate: -50% 0;
    rotate: 90deg;
    z-index: 1.5;

}

.head-jaw.white {
    content: '';
    height: 90px;
    width: 70px;
    background: #fff;
    position: absolute;
    bottom: 10px;
    z-index: 5;
    rotate: 180deg;
}

/* ears */

.ear {
    width: 150px;
    height: 80px;
    background: #000;
    border: none;
    border-radius: 50%;

    position: absolute;
    top: -10%;
}

.left-ear {
    left: -10%;
    rotate: 45deg;
}

.right-ear {
    right: 0;
    rotate: 55deg;
}

/* eye */

.eye {
    width: 25px;
    height: 70px;
    background: #000;
    position: absolute;
    z-index: 6;
    top: 70px;
    border-radius: 50%;
    rotate: -9deg;

}

.right-eye {
    right: 70px;
}

.left-eye {
    left: 75px;
}


/* nose */
.nose-line.dark,
.mouth-line {
    width: 50px;
    height: 8px;
    background: #000;
    position: absolute;
    top: 140px;
    right: 70px;
    z-index: 6;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;

}

.nose-line.white,
.nose {
    content: '';
    width: 45px;
    height: 8px;
    background: #fff;
    position: absolute;
    top: 144px;
    right: 72px;
    z-index: 6;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.nose {
    width: 35px;
    height: 20px;
    top: 146px;
    right: 74px;
    background: #000;
}


/* mouth  */

.mouth {
    width: 75px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 172px;
    left: 67px;
    z-index: 6;

    border-radius: 50%;
}

.mouth::after,
.mouth::before {
    content: '';
    width: 80px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: -7px;
    left: 0px;
    z-index: 6;
    border-radius: 50%;
}

.mouth::before {
    width: 35px;
    height: 18px;
    background: #ffc0cb;
    top: 20px;
    left: 20px;
}

.mouth-line {
    width: 35px;
    height: 10px;
    background: #000;
    top: 171px;

}

.mouth-line.left {
    rotate: -130deg;
    left: 45px;
}

.mouth-line.left::after,
.mouth-line.right::after {
    content: '';
    width: 25px;
    height: 8px;
    background: #000;
    top: 2px;

    position: absolute;

    border-radius: 50%;

}

.mouth-line.left::after {
    left: 25px;
    rotate: -65deg;
}

.mouth-line.right {
    rotate: 130deg;
    right: 35px;
}

.mouth-line.right::after {
    right: 25px;
    rotate: 65deg;
}

/* ******** Food Arts ******** */
.plate_board {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #ff8f27;
    border-radius: .5rem;
    box-shadow: 2px 5px 5px #2E323F;
}

.plate {
    /*border: 1px solid red;*/
    background: rgb(139, 0, 0);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transform: rotateX(-245deg);
    position: relative;
    box-shadow: 0px -14px #f7f2f2;
}

.plate::before {
    content: '';
    display: block;
    /*border: 1px solid red;*/
    background: rgb(139, 0, 0);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transform: rotateX(-202deg) translate3d(0, 20px, -100px);
    position: absolute;
    top: -20px;
    right: -200;
    z-index: 0;
    box-shadow: inset 15px 17px 100px #9e1b1b;
}

.poundo {
    background: #fafad2;
    border-radius: 45%;
    width: 120px;
    height: 230px;
    position: inherit;
    top: 200px;
    left: 150px;
    box-shadow: 4px -50px 0px black, inset 2px 60px 20px #5a5a5a;
}

.bowl {
    background-image: radial-gradient(circle at 2px 2px, #eeee87 1px, rgb(71, 31, 31) 2px);
    background-size: 1px 1px;
    border-radius: 50%;
    width: 140px;
    height: 240px;
    position: absolute;
    bottom: 100px;
    left: 150px;
    transform: rotateY(360deg);
    box-shadow: 4px -30px 40px black, inset 2px -40px 20px rgb(31, 34, 170), inset 10px 40px 0px #1f2c9c;
}

.semo {
    background: #fafad2;
    border-radius: 49%;
    width: 120px;
    height: 230px;
    position: inherit;
    top: -40%;
    left: 30px;
    transform: scaleY(15deg);
    box-shadow: 4px -50px 10px black, inset 1px 60px 20px #5a5a5a;
}
.footer {
    color: var(--white);
    padding: .760rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ******** Media Queries @  700px 43.75 instead of (960 60em ) ******** */

@media screen and (min-width: 977px) {
    .d-flex {
        display: flex;
        justify-content: space-between;
    }

    .content .container {
        gap: 1.25rem;
    }

    .main-content__aside {
        gap: 1.25rem;
    }

    .aside-col {
        margin: 1rem 0;
        padding: 1rem;
    }

    .handBurger-menu-icon {
        display: none;
    }

    .header__content-wrapper {
        flex-direction: row;
        justify-content: space-between;
        gap: 1.25rem;
    }

    .main-nav {
        margin: 0;
        padding: 0;
        flex-direction: row;
        flex-grow: 1;
    }

    .secondary-nav {
        margin: 0;
        gap: 1.25rem;
    }

    .nav-list__item+.nav-list__item {
        margin: 0;
    }
.yellow-board {
    width: 40%;
}
/* Bear Head */

.teddy-head {
    width: 250px;
    height: 250px;

}

/* teddy eyes */

.teddy-eye-left,
.teddy-eye-right {
    width: 50px;
    height: 60px;

}


/*
.teddy-eye-left:hover,
.teddy-eye-right:hover {
    height: 70px;
}
*/

.teddy-eye-left {

    top: 60px;
    left: 50px;
}


/* left eyeball */

.teddy-eye-left::after {

    height: 30px;
        width: 20px;
    
        top: 20px;
        right: 10px;
    
    }
    
    .teddy-eye-right {
    
        top: 60px;
        right: 50px;
    }
    
    /* right eye ball */
    
    .teddy-eye-right::after {
    
        height: 30px;
        width: 20px;
    
        top: 20px;
        right: 15px;
    
    }
    
    /*
        .teddy-eye-left:hover::after,
        .teddy-eye-right:hover::after {
            top: 15px;
            right: 20px;
        }
        */
    
    .teddy-nose {
        width: 100px;
        height: 100px;
    
        top: 45%;
        left: 31%;
    
    }
    
    /* mouth line */
    
    .teddy-nose::before {
    
        height: 35px;
        width: 25px;
    
        top: 60px;
        right: 32px;
    
    }
    
    /* black nose tip and white stripe on the nose */
    
    .teddy-nose::after {
    
        height: 35px;
        width: 25px;
    
        top: 10px;
        right: 35px;
    
    }
    
    .teddy-ear-left,
    .teddy-ear-right {
        width: 150px;
        height: 150px;
    
    }
    
    .teddy-ear-left {
    
        top: 10%;
        left: 5%;
    
    }
    
    .teddy-ear-left::after {
    
        width: 130px;
        height: 130px;
    
        top: 10px;
        left: 10px;
    }
    
    .teddy-ear-right {
    
        top: 10%;
        right: 5%;
    
    }
    
    .teddy-ear-right::after {
    
        width: 130px;
        height: 130px;
    
        top: 10px;
        left: 10px;
    }
}


/* ******** Media Queries @  1000px instead of ( 43.75 ) ******** */

@media screen and (min-width: 1000px) {
    .d-flex-wide {
        display: flex;
        justify-content: space-between;
    }


}