@font-face {
    font-family: poppins;
    src: url(../../Portfolio/assets/fonts/Poppins-Medium.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 1em;
    position: relative;
    border: 1px solid blue;
    align-items: center;
    justify-items: center;
    /* background-color: antiquewhite; */
}

._3d-box {
    width: 15rem;
    height: 20rem;
    background-color: #4e4c4c;
    transform: skewY(-10deg);
    z-index: 1;
    transition: 0.5s;
    animation: 0.5s infinite 2;
}

._3d-box:hover {
    transform: rotateX(-60deg);
}

._3d-box::before {
    width: 5rem;
    height: 20rem;
    background: #4e4c4c;
    content: '';
    position: absolute;
    top: 0px;
    left: -5rem;
    transform: skewY(45deg);
    transform-origin: right;
    z-index: 1;
}

._3d-box::after {
    width: 15rem;
    height: 5rem;
    background: #3f3e3e;
    content: '';
    position: absolute;
    top: -5rem;
    left: -41px;
    transform: skewX(45deg);
    transform-origin: right;
    z-index: 1;
}

.shadow-box {
    width: 15rem;
    height: 5rem;
    background: transparent;
    content: '';
    position: absolute;
    top: 234px;
    right: 30px;
    transform: skewX(47deg);
    transform-origin: right;
    z-index: 0;
}

.shadow-box {
    /* content: '';
    width: 15rem;
    height: 5rem;
    position: absolute;
    top: 50px;
    left: 0px; */
    box-shadow: -100px 100px 20px rgba(0, 0, 0, 0.25);
}

.stacked-boxes {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #434750;
    transform: skewY(-15deg);
}

.box {
    height: 40px;
    width: 200px;
    background: #3e3f46;
    /* border: 1px solid #444; */
    position: relative;
    padding: 1em;
    z-index: var(--i);
    color: #f1f1f1;
    line-height: 1.5;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    cursor: pointer;
    /* font-family: poppins; */
    transition: 0.5s;
}

.box::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -40px;
    height: 100%;
    width: 40px;
    background: #2e3133;
    transform: skewY(45deg);
    transform-origin: right;
    /* border: 1px solid #444; */
    transition: 0.5s;
}

.box:hover::before {
    background: #ff0000;
}

.box::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0px;
    height: 40px;
    width: 100%;
    background: #2e3133;
    transform-origin: bottom;
    /* border: 1px solid #444; */
    transform: skewX(45deg);
    /* transition: 0.5s; */
}

.box:hover {
    background: #ff0000;
    transform: translate(50px);
    animation: vanish 0.5s ease;
    opacity: 0;
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.box:last-child::after {
    box-shadow: -100px 100px 20px rgba(0, 0, 0, 0.25);
}